
<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i>Prince Management Solution</h1>
  <p>Manage your project on easy and smart way!</p>
  <%= link_to 'Sing up', "#" , class: 'btn btn-primary btn-lg' %>
</div>


